@use "utils" as *;

@use "global" as *;



.root {

  background: var(--src) center center / 100% 100% no-repeat;

  display: flex;

  flex-direction: column;

  min-height: 1024px;

  position: relative;

}

